.wrapper 
{
  width: fit-content;
  border: 4px solid #888;
  padding: 3px;
  background: #c0c0c0;
}
.header 
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 2%, 74%);
  padding: 6px;
  margin-bottom: 4px;
  border: 3px solid #888;
}
.counter 
{
  font-size: 24px;
  font-family: "Digital", monospace;
  background: black;
  color: red;
  padding: 4px 10px;
  border: 2px inset #7d7979;
}
.reset 
{
  font-size: 28px;
  background: #e0e0e0;
  border: 3px solid #b1abab;
  padding: 5px 15px;
  cursor: pointer;
}
.grid 
{
  display: grid;
  border: 2px solid #888;
  background: #bcbcbc;
}
.cell 
{
  width: 30px;
  height: 30px;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: #c0c0c0;
  cursor: pointer;
}
.cell.open 
{
  background: #e0e0e0;
  border: 1px solid #999;
}

